<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html>
<body dir="ltr" class="c18">
  <h1 class="Heading_20_1"><a id="a__ΚΑΤΑ_ΙΩΑΝΗΝ" name=
			      "a__ΚΑΤΑ_ΙΩΑΝΗΝ"></a>ΚΑΤΑ ΙΩΑΝΗΝ</h1>
  
  <h2 class="Heading_20_2"><a id="a__8" name="a__8"></a>8</h2>

 
  <p class="Standard">
    <span class="T1">2</span> Ὄρθρου δὲ
    <br/>πάλιν παρεγένετο εἰς τὸ ἱερόν,
    <br/>καὶ πᾶς ὁ λαὸς ἤρχετο πρὸς αὐτόν.</p>
 
  <ul>
    <li>τίς παρεγένετο εἰς τὸ ἱερόν;</li>
    <li>πότε παρεγένετο εἰς τὸ ἱερόν;</li>
    <li>ποῦ παρεγένετο;</li>
  </ul>
 
  <ul>
    <li>τίς ἤρχετο πρὸς αὐτόν;</li>
    <li>πρὸς τίνα ἤρχετο πᾶς ὁ λαὸς;</li>
  </ul>  
 
  <p>καὶ καθίσας ἐδίδασκεν αὐτούς.</p>

  <ul>
    <li>τίς ἐκάθισεν;</li>
    <li>τίς ἐδίδασκεν τίνα;</li>
  </ul>

  <p><span class="T1">3</span> ἄγουσι δὲ
    <br/>οἱ γραμματεῖς καὶ οἱ Φαρισαῖοι
    <br/>πρὸς αὐτὸν
    <br/>γυναῖκα
    <br/>&nbsp;&nbsp;&nbsp;&nbsp;ἐν μοιχείᾳ
    κατειλημμένην,</p>

  <ul>
    <li>τίς ἄγουσι γυναῖκα;</li>
    <li>τίνα ἄγουσι;</li>
    <li>πρὸς τίνα ἄγουσι γυναῖκα;</li>
    <li>ἐν τίνι κατελήφθη τὴν γυναῖκα;</li>
  </ul>

  <p>καὶ στήσαντες αὐτὴν ἐν μέσῳ,
    <br/><span class=
	       "T1">4</span> λέγουσιν αὐτῷ,
    <br/>Διδάσκαλε,
    <br/>αὕτη ἡ γυνὴ
    <br/>κατελήφθη
    <br/>ἐπαυτοφώρῳ μοιχευομένη.</p>

  <ul>
    <li>τίς ἔστησαν τὴν γυναῖκα ἐν μέσῳ;</li>
    <li>τίνα ἔστησαν;</li>
    <li>τίνα κατελήφθη ἐπαυτοφώρῳ μοιχευομένη;</li> 
  </ul>

  <p><span class="T1">5</span> ἐν δὲ τῷ νόμῳ
    Μωσῆς
    <br/>ἡμῖν ἐνετείλατο
    <br/>τὰς τοιαύτας
    <br/>λιθοβολεῖσθαι·</p>

    <ul>
      <li>τί ἐνετείλατο ἡμῖν ἐν τῷ νόμῳ
    Μωσῆς;</li>
    </ul>

    <p>σὺ οὖν
      <br/>τί λέγεις;</p>


    <p><span class="T1">6</span> τοῦτο δὲ ἔλεγον
      <br/>πειράζοντες αὐτόν,
      <br/>ἵνα ἔχωσι κατηγορεῖν αὐτοῦ.</p>

    <ul>
      <li>τίς ἔλεγον Σὺ οὖν τί λέγεις;</li>
      <li>τίνι ἔλεγον Σὺ οὖν τί λέγεις;</li>
      <li>διὰ τί ἔλεγον Σὺ οὖν τί λέγεις;</li>
    </ul>

  <p>ὁ δὲ Ἰησοῦς κάτω κύψας, τῷ
    δακτύλῳ ἔγραφεν εἰς τὴν γῆν·</p>

  <ul>
    <li>κύπτω κάτω / ἀνάκύπτω</li>
    <li>τίς ἔκυψεν κάτω;</li>
    <li>τίς ἔγραφεν;</li>
    <li>ἐν τίνι ἔγραφεν;</li>
    <li>εἰς τίνα ἔγραφεν;</li>
  </ul>

  <p><span class="T1">7</span> ὡς δὲ
  ἐπέμενον ἐρωτῶντες αὐτόν,
  <br/>ἀνάκυψας εἶπε πρὸς αὐτοὺς,
  <br/>Ὁ ἀναμάρτητος ὑμῶν
  <br/>πρῶτος
  <br/>τὸν λίθον
  <br/>ἐπ’ αὐτῇ
  <br/>βαλέτω.</p>

  <ul>
    <li>τίς ἐπέμενον ἐρωτῶντες αὐτόν</li>
    <li>τίνα ἐπέμενον ἐρωτῶντες;</li>
    <li>τίς βαλέτω πρῶτος τὸν λίθον ἐπ’ αὐτῇ;</li>
  </ul>

  <p><span class="T1">8</span> καὶ πάλιν κάτω κύψας ἔγραφεν εἰς τὴν γῆν.</p>

  <hr/>
  <p><span class="T1">9</span> οἱ δὲ,
    <br/>ἀκούσαντες
    <br/>καὶ ὑπὸ τῆς
    συνειδήσεως ἐλεγχόμενοι,
    <br/>ἐξήρχοντο εἷς καθεῖς,
    <br/>ἀρξάμενοι ἀπὸ τῶν
    πρεσβυτέρων ἕως τῶν ἐσχάτων·</p>

  <ul>
    <li>τίς ἀκούει;</li>
    <li>ὑπὸ τῆς
    συνειδήσεως ἐλεγχόμενοι ...</li>
    <li>τίς ἐξ-ήρχοντο;</li>
    <li>ἐξήρχοντο εἷς καθεῖς ...</li>
    <li>τίς ἀρξάμενοι; οἱ πρεσβύτεροι ἢ οἱ ἔσχατοι;</li>
  </ul>
  
  <p>καὶ κατελείφθη μόνος ὁ Ἰησοῦς,
    <br/>καὶ ἡ γυνὴ ἐν μέσῳ ἑστῶσα.</p>

  <ul>
    <li>τίς κατελείφθη;</li>
  </ul>
  

  
  <p><span class="T1">10</span> ἀνακύψας δὲ ὁ Ἰησοῦς,
  <br/>καὶ μηδένα θεασάμενος πλὴν τῆς γυναικὸς,
  <br/>εἶπεν αὐτῇ,
  <br/>Ἡ γυνὴ,
  <br/>ποῦ εἰσιν ἐκεῖνοι οἱ κατήγοροί σου;
  <br/>οὐδείς σε κατέκρινεν;
  </p>

  <ul>
    <li>τίνα βλέπει ὁ Ἰησοῦς;</li>
    <li>τίνι εἶπεν αὐτός;</li>
    <li>κατέκρινεν τις ἡ γυνή;</li>
  </ul>
  
  <p><span class="T1">11</span> ἡ δὲ εἶπεν, Οὐδείς, κύριε.
    <br/>εἶπε δὲ αὐτῇ ὁ Ἰησοῦς,
    <br/>Οὐδὲ ἐγώ σε κατακρίνω·
    <br/>πορεύου καὶ μηκέτι  ἁμάρτανε.</p>

  <ul>
    <li>κατέκρινεν ὁ Ἰησοῦς ἡ γυνή;</li>
    <li>τί εἶπε αὐτῇ ὁ Ἰησοῦς;</li>
  </ul>
  
</body>
</html>
